{% extends "base.html" %}

{% block content %}
  <form action="" method="post">
  <h2> Redefinição  de senha</h2>
  <h4>Esqueceu sua senha? Forneça seu endereço de email abaixo, e nos te enviaremos um email com instruções para configurar uma nova.</h4>
    {% csrf_token %}
  <h5>Endereço de email:</h5>
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}
    <p>{{ form.email }}</p>
    <button type="submit" class="btn btn-default btn-lg" value="Reset password">Redefinir minha senha </button>
  </form>
{% endblock %}