{% extends "base.html" %}
   {% block content %}
       <br>
       <br>
        <div class="card text-center">
          <div class="card-header">
            <h5 class="card-title">E-mail enviado</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Nos te enviamos um emial com instruções para configurar sua senha, se uma conta existe como email fornecido. Você receberá a mensagem em breve.
                Se você não recebou um email, por favor certifique-se que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.</p>

          </div>

        </div>
   {% endblock %}