<!-- partials/CorriPlano_modal.html -->
<div class="modal" id="confirmCorriPlanoModal" tabindex="-1" role="dialog" aria-labelledby="confirmCorriPlanoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmCorriPlanoModalLabel">Confirmação de correção de plano</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" onclick="fecha()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja Corrigir esse plano?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" onclick="fecha()">Cancelar</button>
                <button type="button" class="btn btn-primary" id="confirmCorriPlanoBtn" onclick="CorriPlano()">Corrigir</button>
            </div>
        </div>
    </div>
</div>
<script>
    let id_CorriPlano;

    function CorriPlanoModal(id) {
        id_CorriPlano = id;

        const modal = document.getElementById('confirmCorriPlanoModal');
        modal.style.display = 'block';
    }

    function fecha() {
        const modal = document.getElementById('confirmCorriPlanoModal');
        modal.style.display = 'none';
    }

    function CorriPlano() {
        if (id_CorriPlano) {
            var CorriPlanoForm = document.getElementById(`CorriPlanoForm${id_CorriPlano}`);
            CorriPlanoForm.submit();
        }
    }

</script>