{% extends 'orientador/base_orientador.html' %}
{% load static %}
{% block container %}
     <h3>Lista de planos</h3>
        <div class="table-responsive">
            <table class="table container-fluid mt-4">
              <thead class="bg-success">
                <tr>
                    <th>Tema</th>
                    <th>Aluno</th>
                    <th>Periodo</th>
                    <th>
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle float-end" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Status
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{% url 'orientador:list_plano_ori' %}">Todos</a>
                                <a class="dropdown-item" href="{% url 'orientador:list_plano_ori_status' 'Enviados' %}">Enviado</a>
                                <a class="dropdown-item" href="{% url 'orientador:list_plano_ori_status' 'Revisado' %}">Revisados</a>
                          </div>
                        </div>
                    </th>
                    <th>Arquivo</th>
                    <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for plano in planos %}
                    <tr>
                        <td>{{ plano.tema }}</td>
                        <td>{{ plano.user.get_full_name }}</td>
                        <td>{{ plano.periodo }}</td>
                        <td>{{ plano.status }}</td>
                        <td>
                            <a href="{{ plano.arquivo.url }}" target="_blank" class="btn btn-secondary">Visualizar PDF</a>
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <form id="CorriPlanoForm{{ plano.id }}" action="{% url 'orientador:corrigi_plano_ori' plano.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-primary mx-2" data-toggle="modal" onclick="CorriPlanoModal({{ plano.id }})">
                                        Revisar
                                    </button>
                                </form>
                                <form id="CancelarForm{{ plano.id }}" action="{% url 'orientador:cancelar_plano_ori' plano.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-warning " data-toggle="modal" onclick="CancelarModal({{ plano.id }})">
                                        Cancelar
                                    </button>
                                </form>
                            </div>
                        </td>

                        <!-- Adicione outras colunas aqui, se desejar -->
                    </tr>
                {% endfor %}
              </tbody>
                <div class="container mt-1">
                    <div class="row">
                        <div class="col-md-6 align-content-center">
                            <form method="GET" class="form-inline">
                                {% csrf_token %}
                                <div class="input-group"> <!-- Use uma classe input-group para agrupar o campo de entrada e o botão -->
                                    <input type="text" name="query" placeholder="Pesquisar por tema ou orientador" class="form-control" value="{{ query|default:'' }}">
                                    <select name="status" class="form-select mx-2">
                                        <option value="">Filtrar por status</option>
                                        <option value="">Todos</option>
                                        <option value="Enviado">Enviado</option>
                                        <option value="Revisado">Revisado</option>
                                    </select>
                                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </table>
        </div>

    <div class="pagination d-flex justify-content-center align-items-center">
        <span class="step-links">
            {% if planos.has_previous %}
                <a href="?page=1"  class="btn btn-secondary">&laquo; primeiro</a>
                <a href="?page={{ planos.previous_page_number }}" class="btn btn-secondary">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ planos.number }} de {{ planos.paginator.num_pages }}.
            </span>

            {% if planos.has_next %}
                <a href="?page={{ planos.next_page_number }}"  class="btn btn-secondary">próximo</a>
                <a href="?page={{ planos.paginator.num_pages }}"  class="btn btn-secondary">último &raquo;</a>
            {% endif %}
        </span>
    </div>
    <div class="container float-right mt-3">
        <a href="{% url 'orientador:pag_orientador' %}" class="btn btn-primary float-right">Voltar</a>
    </div>
{% endblock %}