{% extends 'orientador/base_orientador.html' %}
{% load static %}
{% block container %}
     <h3>Listagem de trabalhos</h3>
        <div class="table-responsive">
            <table class="table table-striped container-fluid mt-4">
                <thead class="bg-success">
                    <tr>
                        <th class="col-sm-2 text-center">Tema</th>
                        <th class="col-sm-2 text-center">Aluno</th>
                        <th class="col-sm-2 text-center">Período</th>
                        <th class="col-sm-2 text-center">
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle float-end" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Status
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'orientador:list_trabalho_ori' %}">Todos</a>
                                    <a class="dropdown-item" href="{% url 'orientador:list_trabalho_ori_status' 'Enviado' %}">Enviados</a>
                                    <a class="dropdown-item" href="{% url 'orientador:list_trabalho_ori_status' 'Revisado' %}">Revisados</a>
                              </div>
                            </div>
                        </th>
                         <th class="col-sm-2 text-center">Arquivo</th>
                        <th class="col-sm-2 text-center">Ações</th>
                    </tr>
                </thead>
                {% for trabalho in trabalhos %}
                    <tr>
                        <td class="text-center">{{ trabalho.titulo }}</td>
                        <td class="text-center">{{ trabalho.user.get_full_name }}</td>
                        <td class="text-center">{{ trabalho.periodo }}</td>
                        <td class="text-center">{{ trabalho.status }}</td>
                        <td class="text-center">
                            <a href="{{ trabalho.arquivo.url }}" target="_blank" class="btn btn-secondary">Visualizar PDF</a>
                        </td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <form id="CorriTrabForm{{ trabalho.id }}" action="{% url 'orientador:corrigi_trabalho_ori' trabalho.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-success mx-1" data-toggle="modal" onclick="CorriTrabModal({{ trabalho.id }})">
                                        Revisar
                                    </button>
                                </form>
                                <form id="CancelarForm{{ trabalho.id }}" action="{% url 'orientador:cancelar_trab_ori' trabalho.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-danger " data-toggle="modal" onclick="CancelarModal({{ trabalho.id }})">
                                        Cancelar
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <div class="container mt-1">
                    <div class="row">
                        <div class="col-md-6 align-content-center">
                            <form method="post" class="form-inline">
                                {% csrf_token %}
                                <div class="input-group"> <!-- Use uma classe input-group para agrupar o campo de entrada e o botão -->
                                    <input type="text" name="query" placeholder="Pesquisar por tema ou orientador" class="form-control" value="{{ query|default:'' }}">
                                    <select name="status" class="form-select mx-2">
                                        <option value="">Filtrar por status</option>
                                        <option value="">Todos</option>
                                        <option value="Enviado">Enviado</option>
                                        <option value="Revisado">Revisado</option>
                                    </select>
                                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </table>
        </div>
    <div class="pagination d-flex justify-content-center align-items-center">
        <span class="step-links">
            {% if trabalhos.has_previous %}
                <a href="?page=1"  class="btn btn-secondary">&laquo; primeiro</a>
                <a href="?page={{ trabalhos.previous_page_number }}" class="btn btn-secondary">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ trabalhos.number }} de {{ trabalhos.paginator.num_pages }}.
            </span>

            {% if trabalhos.has_next %}
                <a href="?page={{ trabalhos.next_page_number }}"  class="btn btn-secondary">próximo</a>
                <a href="?page={{ trabalhos.paginator.num_pages }}"  class="btn btn-secondary">último &raquo;</a>
            {% endif %}
        </span>
    </div>
    <div class="container float-right mt-3">
        <a href="{% url 'orientador:pag_orientador' %}" class="btn btn-primary float-right">Voltar</a>
    </div>
{% endblock %}