{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="br">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/css_login.css' %}">
        <title>Login</title>
</head>
    <body class="bg-color d-flex min-vh-100"> <!-- Use d-flex e min-vh-100 para estender até o rodapé -->


    <div class="container-fluid" id="centro"> <!-- Conteúdo da página -->
        <div id="titulo">
            <h2>Sistema de trabalhos acadêmicos</h2>
        </div>
    <div class="container-fluid" id="fundo-centro">
        <div class="container-fluid col-md-4 text-center">
            <form method="POST" action="">
                {% csrf_token %}
                <img class="mb-4 mt-4" src="{% static 'img/logo.png' %}" alt="" width="100px" height="120px">
                <h1 class="h3 mb-3 font-weight-normal">Universidade Federal do Acre</h1>
                 {% include 'partials/messages.html' %}
                <label for="username" class="sr-only">Usuário</label>
                <input type="text" id="username" name="username" class="form-control campos " placeholder="Digite sua matrícula " required autofocus>
                <label for="password" class="sr-only">Senha</label>
                <input type="password" id="password" name="password" class="form-control campos mt-4" placeholder="Digite sua senha" required>
                <button class="btn btn-lg btn-success btn-block mt-4" type="submit">Entrar</button>
                <br>
                <a  href="{% url 'accounts:add_user' %}" class=" register"> Registra-se</a>
                <br>
                <a  href="{% url 'password_reset' %}" class="form-control"> Esqueceu sua senha?</a>
            </form>
        </div>
    </div>

    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
</body>
</html>
