{% extends 'professor/base_professor.html' %}
{% load static %}
{% block container %}
    <h5>Página incial</h5>
     <div class="row container-fluid align-content-center">
      <div class="col-sm-6 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Visualizar planos</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-success float-right">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Visualizar Trabalhos</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-success float-right">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row container-fluid align-content-center">
      <div class="col-sm-6 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cadastrar período</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-success float-right">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cadastrar semestre</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-success float-right">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}