{% extends 'aluno/base_aluno.html' %}
{% load static %}
{% block container %}
     <h3>Lista de planos</h3>
        <div class="table-responsive">
            <table class="table table-striped container-fluid mt-4">
              <thead class="bg-success">
                <tr>
                    <th class="col-sm-2 text-center">Título</th>
                    <th class="col-sm-2 text-center">Orientador</th>
                    <th class="col-sm-2 text-center">Periodo</th>
                    <th class="col-sm-2 text-center">
                        <div class="dropdown ">
                          <button class="btn btn-secondary dropdown-toggle float-end" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Status
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{% url 'aluno:list_plano' %}">Todos</a>
                                <a class="dropdown-item" href="{% url 'aluno:listar_planos_status' 'Enviado' %}">Enviado</a>
                                <a class="dropdown-item" href="{% url 'aluno:listar_planos_status' 'Revisado' %}">Revisado</a>
                                <a class="dropdown-item" href="{% url 'aluno:listar_planos_status' 'Versão aprovada' %}">Versão aprovada</a>
                          </div>
                        </div>
                    </th>
                    <th class="col-sm-2 text-center">Arquivo</th>
                    <th class="col-sm-2 text-center">Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for plano in planos %}
                    <tr>
                        <td class="text-center">{{ plano.tema }}</td>
                        <td class="text-center">{{ plano.user_orientador.get_full_name }}</td>
                        <td class="text-center">{{ plano.periodo }}</td>
                        <td class="text-center">{{ plano.status }}</td>
                        <td class="text-center">
                            <a href="{{ plano.arquivo.url }}" class="btn btn-secondary">Visualizar PDF</a>
                        </td>
                        <td class="text-center">
                            {% if plano.status == "Enviado" %}
                                <div class="d-inline-block ">
                                    <form id="DeleteForm{{ plano.id }}" action="{% url 'aluno:excluir_plano' plano.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" onclick="DeleteModal({{ plano.id }})">
                                            Excluir
                                        </button>
                                    </form>
                                </div>
                            {% else %}
                                <div class="d-inline-block ">
                                    <form id="DeleteForm{{ plano.id }}" action="{% url 'aluno:excluir_plano' plano.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" onclick="DeleteModal({{ plano.id }})" disabled>
                                            Excluir
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
              </tbody>
                <div class="text-right">
                    <a href="{% url 'aluno:add_plano' %}" class="btn btn-success btn-sm">Adicionar novo plano</a>
                </div>
            </table>
        </div>
    <div class="pagination d-flex justify-content-center align-items-center">
        <span class="step-links">
            {% if planos.has_previous %}
                <a href="?page=1"  class="btn btn-secondary">&laquo; primeiro</a>
                <a href="?page={{ planos.previous_page_number }}" class="btn btn-secondary">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ planos.number }} de {{ planos.paginator.num_pages }}.
            </span>

            {% if planos.has_next %}
                <a href="?page={{ planos.next_page_number }}"  class="btn btn-secondary">próximo</a>
                <a href="?page={{ planos.paginator.num_pages }}"  class="btn btn-secondary">último &raquo;</a>
            {% endif %}
        </span>
    </div>
    <div class="container float-right mt-3">
        <a href="{% url 'aluno:pag_aluno' %}" class="btn btn-primary float-right">Voltar</a>
    </div>
{% endblock %}