{% extends 'aluno/base_aluno.html' %}
{% load static %}
{% block container %}
     <h3>Listagem de trabalhos</h3>
        <div class="table-responsive">
            <table class="table table-striped container-fluid mt-4">
                <thead class="bg-success">
                    <tr>
                        <th class="text-center">Título</th>
                        <th class="text-center">Orientador</th>
                        <th class="text-center">Data</th>
                        <th class="text-center">Período</th>
                        <th class="text-center">
                            <div class="dropdown ">
                          <button class="btn btn-secondary dropdown-toggle float-end" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Status
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{% url 'aluno:list_trabalho' %}">Todos</a>
                                <a class="dropdown-item" href="{% url 'aluno:listar_trabalho_status' 'Enviado' %}">Enviado</a>
                                <a class="dropdown-item" href="{% url 'aluno:listar_trabalho_status' 'Revisado' %}">Revisado</a>
                                <a class="dropdown-item" href="{% url 'aluno:listar_trabalho_status' 'Versão aprovada' %}">Revisado</a>
                          </div>
                        </div>
                        </th>
                        <th class="text-center">Arquivo</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                {% for trabalho in trabalhos %}
                    <tr>
                        <td class="text-center">{{ trabalho.titulo }}</td>
                        <td class="text-center">{{ trabalho.orientador.get_full_name }}</td>
                        <td class="text-center">{{ trabalho.data|date:"d/m/Y" }}</td>
                        <td class="text-center">{{ trabalho.periodo }}</td>
                        <td class="text-center">{{ trabalho.status }}</td>
                        <td class="text-center">
                            <a href="{{ trabalho.arquivo.url }}" target="_blank" class="btn btn-secondary">Visualizar PDF</a>
                        </td>
                        <td class="text-center">
                              {% if trabalho.status == "Enviado" %}
                                <div class="d-inline-block ">
                                    <form id="DeleteForm{{ trabalho.id }}" action="{% url 'aluno:excluir_trabalho' trabalho.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" onclick="DeleteModal({{ trabalho.id }})">
                                            Excluir
                                        </button>
                                    </form>
                                </div>
                            {% else %}
                                <div class="d-inline-block ">
                                    <form id="DeleteForm{{ trabalho.id }}" action="{% url 'aluno:excluir_trabalho' trabalho.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" onclick="DeleteModal({{ trabalho.id }})" disabled>
                                            Excluir
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <div class="text-right">
                    <a href="{% url 'aluno:add_trabalho' %}" class="btn btn-success btn-sm">Adicionar novo trabalho</a>
                </div>
            </table>
        </div>

     <div class="pagination d-flex justify-content-center align-items-center">
        <span class="step-links">
            {% if trabalhos.has_previous %}
                <a href="?page=1"  class="btn btn-secondary">&laquo; primeiro</a>
                <a href="?page={{ trabalhos.previous_page_number }}" class="btn btn-secondary">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ trabalhos.number }} de {{ trabalhos.paginator.num_pages }}.
            </span>

            {% if trabalhos.has_next %}
                <a href="?page={{ trabalhos.next_page_number }}"  class="btn btn-secondary">próximo</a>
                <a href="?page={{ trabalhos.paginator.num_pages }}"  class="btn btn-secondary">último &raquo;</a>
            {% endif %}
        </span>
    </div>
    <div class="container float-right mt-3">
        <a href="{% url 'aluno:pag_aluno' %}" class="btn btn-primary float-right">Voltar</a>
    </div>
{% endblock %}