<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar Planos</title>
</head>
<body>
     <h1>Planos do Usuário</h1>
    {% if planos %}
        <table>
            <tr>
                <th>Título</th>
                <th>Resumo</th>
                <th>Orientador</th>
                <th>Obejetivo específico</th>
                <th>Motivação</th>
                <th>Periodo</th>
                <th>Status</th>
                <th>Ações</th>

                <!-- Adicione outras colunas aqui, se desejar -->
            </tr>
            {% for plano in planos %}
                <tr>
                    <td>{{ plano.titulo }}</td>
                    <td>{{ plano.resumo }}</td>
                    <td>{{ plano.user_orientador.get_full_name }}</td>
                    <td>{{ plano.obj_especifico }}</td>
                    <td>{{ plano.motivacao }}</td>
                    <td>{{ plano.periodo }}</td>
                    <td>{{ plano.status }}</td>
                    <td>
                         <!-- Botão de visualização para todos os planos -->
                        <a href="">Visualizar</a>
                        {% if plano.status == "Em andamento" %}
                            <a href="">Editar</a>
                        {% endif %}
                    </td>

                    <!-- Adicione outras colunas aqui, se desejar -->
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Nenhum plano encontrado.</p>
    {% endif %}
</body>
</html>