{% extends 'aluno/base_aluno.html' %}
{% load widget_tweaks %}
{% block container %}
    <style>
        .input-curto {
            width: 95%;
            border-radius: 10px;
        }
    </style>
     <h3>Cadastrar Plano:</h3>
            {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ form.non_field_errors }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="row w-78 mt-3">
                    <div class="col">
                        <label for="{{ form.tema.id_for_label }}" class="h4" >Tema:<span class="text-danger">*</span></label>
                        {{ form.tema|add_class:"form-control input-curto is-required"|attr:"autofocus"|attr:"placeholder:Ex: Avaliação de usabilidade ..." }}
                    </div>
                    <div class="col">
                        <label for="{{ form.user_orientador.id_for_label }}" class="h4">Orientador:<span class="text-danger">*</span></label>
                        {{ form.user_orientador.get_full_name|add_class:"form-control input-curto" }}
                    </div>
                    <div class="col">
                        <label for="{{ form.periodo.id_for_label }}" class="h4">Período:<span class="text-danger">*</span></label>
                        {{ form.periodo|add_class:"form-control input-curto" }}
                    </div>
                </div>
                <div class="row w-78 mt-3">
                    <div class="col">
                        <label for="{{ form.resumo.id_for_label }}" class="h4">Resumo:<span class="text-danger">*</span></label>
                        {{ form.resumo|add_class:"form-control input-curto" }}
                    </div>
                    <div class="col">
                        <label for="{{ form.objetivo.id_for_label }}" class="h4">Objetivo:<span class="text-danger">*</span></label>
                        {{ form.objetivo|add_class:"form-control input-curto" }}
                    </div>
                </div>
                <div class="row w-78 mt-3">
                    <div class="col">
                        <label for="{{ form.obj_especifico.id_for_label }}" class="h4">Objetivo específico:<span class="text-danger">*</span></label>
                        {{ form.obj_especifico|add_class:"form-control input-curto" }}
                    </div>
                    <div class="col">
                        <label for="{{ form.motivacao.id_for_label }}" class="h4">Motivação:<span class="text-danger">*</span></label>
                        {{ form.motivacao|add_class:"form-control input-curto" }}
                    </div>
                </div>
                <div class="container float-right mt-3">
                    <button type="submit" class="btn btn-success float-right mx-2">Cadastrar</button>
                    <a href="{% url 'aluno:list_plano' %}" class="btn btn-primary float-right">Voltar</a>
                </div>
            </form>

{% endblock %}

